<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form [formGroup]= "registerationForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="fullname" class="form-label" >Full Name</label>
            <input type="text" class="form-control" formControlName="fullname">
            <!-- fullName is getter method <=> registerationForm.get('fullname') -->
            <span  class = "error-block" *ngIf="!fullName.valid && fullName.touched || userSubmitted">
              Please Provide Full Name
            </span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label"> Email</label>
          <input type="text" class="form-control" formControlName="email">
          <span  class = "error-block" *ngIf="!email.valid && email.touched || userSubmitted">
            <span *ngIf= "email.hasError('required')">
              Please provide email address
            </span>
            <span *ngIf= "email.hasError('email')">
              Please provide valid email id
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="userName" class="form-label"> User Name</label>
          <input type="text" class="form-control" formControlName="userName">
          <span  class = "error-block" *ngIf="!email.valid && email.touched || userSubmitted">
            <span *ngIf= "userName.hasError('required')">
              Please provide the user name
            </span>
            <span *ngIf= "userName.hasError('minlength')">
              User Name must be at least 4 character long
            </span>
          </span>
        </div>


        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password">
        </div>
        <span  class = "error-block" *ngIf="!password.valid && password.touched || userSubmitted">
         <span *ngIf = "password.errors['required']">
          Please provide the passwrod
         </span>
         <span *ngIf = "password.errors.minlength">
          Passwrod must be atleast 8 Character Long
         </span>
        </span>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" formControlName="confirmPassword">
          <span  class = "error-block" *ngIf="!cpassword.valid && cpassword.touched || userSubmitted">
              Please confirm password
            </span>
            <span class="error-block" *ngIf="registerationForm.hasError('notmatched') && cpassword.valid || userSubmitted">
              Password does not match !
            </span>
        </div>

        <div class="form-group col-12">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control" formControlName="mobile">
          <span  class = "error-block" *ngIf="!mobile.valid && mobile.touched || userSubmitted">
            Please provide mobile number
          </span>
        </div>
        <br>
        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary m-2">Save</button>
          <button type="reset" class="btn btn-secondary m-2">Cancel</button>
        </div>
      </form>

    </div>
  </div>
  </div>
</div>
